{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'Home/contact.css' %}" type="text/css">
{% endblock %}
{% block body %}
<h1>Login</h1><br><br>
<form method="post" id="contact_us_form" action="/contact/">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" class="form-control" required>
    <input type="email" name="email" placeholder="email" class="form-control" required>
    <textarea name="text"></textarea>
    <button type="submit" class="btn btn-warning">Submit</button>
</form>
{% endblock %}