{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'Home/contact.css' %}" type="text/css">
{% endblock %}
{% block body %}
<div id="verymain">
<h1>Contact us (:</h1>
<div id="main">
<form method="post" id="contact_us_form" action="/contact/">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" class="form-control" required>
    <input type="email" name="email" placeholder="email" class="form-control" required>
    <textarea name="text" class="form-control"></textarea>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
</div>
{% endblock %}