{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'Accounts/editprofile.css' %}" type="text/css">
{% endblock %}
{% block body %}
<div id="verymain">
    <h1>Edit Profile (:</h1>
    <div id="main">
<form id="setting_form" action="/accounts/editprofile/" method="POST">
    {% csrf_token %}
    <input name="first_name" placeholder="First name" class="form-control">
    <input name="last_name" placeholder="Last name" class="form-control">
    <button type="submit" class="btn btn-success">Save</button>
</form>
    </div>
</div>
{% endblock %}