{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Accounts/register.css' %}">
{% block head %}
{% endblock %}
{% block body %}
    <form id="register_form" method="POST" action="/accounts/register/">
    {% csrf_token %}
        <input name='first_name' type="text" class="form-control" placeholder="fn" required>
        <input name='last_name' type="text" class="form-control" placeholder="ln" required>
        <input name='username' type="text" class="form-control" placeholder="un" required>
        <input name='email' type="email" class="form-control" placeholder="em" required>
        <input name='password1' type="password" class="form-control" required>
        <input name='password2' type="password" class="form-control" required>
        <button name='submit' class="btn btn-success">Submit</button>
    </form>
{% if error == 1 %}
<div id='error'>{{msg}}</div>
{% endif %}
{% endblock %}